#workout{
    display: none;
    flex-direction: column;
    z-index: 5;
    height: 100vh; width: 100vw;
    background-color: var(--lila);
    color: white;
}

.workout-container{
    display: flex; flex-direction: column;
    width: 100vw;
    justify-content: center; align-items: center;
    margin-top: 15vh;
    color: var(--blue);
    z-index: 5;
}

.h1, .h4{ font-family: 'Rubrik-Mono-One';}

.h4{ margin-top: -7px; margin-bottom: 3vh; text-align: center;}

.p{
    padding: 0 3vh;
    font-family: 'Krona-One';
    font-size: 12px;
    text-align: justify;
}

.wallpaper-lila{
    width: 200vw;
    position: absolute;
    top:0;
}

.wallpaper-lila img{
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 40%);
}

.back{
    position: absolute;
    width: 10vw;
    top:15vh; left: 5vw;
    z-index: 5;
}

.circle{
    position: fixed;
    bottom: -12vh; right: -12vw;
    width: 80vw;
}

.wallpaper-circle{
    animation: circleAnimation 1s linear;
}

.img{
    position: fixed;
    bottom: 0; right: 5vw;
    width: 70vw;
    z-index:6;
    opacity: 0%;
    animation: maschineAnimation 2s forwards;
}

.circle .bein{ bottom: -3vh; right: 0; width: 75vw;}

.circle .brust{ bottom: 1vh; right: 3vw;}

.circle .ruecken{ bottom: -2vh; right: 3vw;}

.circle .ruder{ bottom: -3vh; right: -3vw; width: 75vw;}

.circle .bauch{ bottom: -2vh; right: 3vw;}

@keyframes circleAnimation {
    0% { transform: scale(0.8) translatex(5%); opacity: 0%;}
    30%{ transform: scale(0.9) translatex(2.5%);}
    100% { transform: scale(1) translatex(0%); opacity: 100%;}
}

@keyframes maschineAnimation {
    0% { transform: translate(-4%, -8%); opacity: 0%;}
    40%{ opacity: 100%;}
    100% { transform: translatex(0%);opacity: 100%;}
}